# For Jekyll
_site/
.sass-cache/
.jekyll-metadata

# For dpkg-buildpackage output
*.changes
*.dsc
*.tar.gz
*.deb
*/build/
*/debian/files
*/debian/stamp-makefile-build
*/debian/*.debhelper
*/debian/*.log
*/debian/*.substvars
*/debian/nhsbuntu-defaults

# For source images we don't need to track
/identity/source-logos(gitignore)/
