# For Jekyll
_site/
.sass-cache/
.jekyll-metadata

# For dpkg-buildpackage output
*.changes
*.dsc
*.tar.gz
*.deb
*/build/
*/debian/files
*/debian/stamp-makefile-build
*/debian/*.debhelper.log
*/debian/*.substvars
*/debian/nhsbuntu-defaults
