Package: nhsbuntu-defaults
Version: 0.1
Architecture: all
Maintainer: Rob Dyke <robdyke@gmail.com>
Installed-Size: 16
Conflicts: ubuntu-default-settings
Provides: ubuntu-default-settings
Section: metapackages
Priority: optional
Description: Default settings for Ubuntu customizations
 This package contains customized default settings.
